@model ByteBank.Forum.ViewModels.AccountLoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>

@using (Html.BeginForm())
{
    if (ViewData.ModelState.Keys.Any(k => ViewData.ModelState[k].Errors.Any()))
    {
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">×</button>
            @Html.ValidationSummary(true, "Errors: ")
        </div>
    }
    @Html.EditorForModel()

    @Html.ActionLink("Forgot my password", "ForgotPassword");
    <br />
    <input type="submit" value="Login" class="btn btn-default" />
}


