
@{
    ViewBag.Title = "WaitingConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bem vindo ao Byte Bank</h2>

<p>Por favor, verifique sua caixa de entrada para confirmar o seu email</p>

